<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/button/button.css">
    <title>Cali-Aesthetics UI</title>
    <script src="https://kit.fontawesome.com/cb91afed1c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!------------------------ Header ----------------------------------->
    <header>
        <div class="header-container">
            <div class="heading-header">
                <h1> Cali-Aesthetics</h1>
            </div>
            <div class="header-links">
                <a class="link-primary">Home</a>
                <a class="link-primary">Docs</a>
            </div>
        </div>
    </header>


    <!-------------------------Side Bar ----------------------------->
    <aside>
        <h3>Components</h3>
        <a href="/src/components/avatar/avatar.html">Avatar</a>
        <a href="/src/components/alert/alert.html">Alert</a>
        <a href="/src/components/badge/badge.html">Badge</a>
        <a class="active-tab" href="#">Button</a>
        <a href="/src/components/image/image.html">Images</a>
        <a href="/src/components/cards/cards.html">Card</a>
        <a href="/src/components/input/input.html">Input</a>
        <a href="/src/components/list/list.html">List</a>
        <a href="/src/components/navigation/navigation.html">Navigation</a>
        <a href="/src/components/grid/grid.html">Grid</a>
    </aside>



    <main>

        <!-- ------------ component : button ---------------- -->
        <div class=" main-container padding-md">
            <div class="headline">
                <h1>Button</h1>
                <div class="description">
                    Buttons are used to perform actions on user's click. We have range of buttons which you can use like
                    solid buttons, outline buttons and icon buttons based on different scenarios and their states.
                </div>
            </div>

            <section class="background-white">
                <h3>Examples of Primary Button</h3>
                <div class="section-description ">
                    Whenever you want your user's attention use Primary Buttons for call to Action.
                </div>
                <div class="container-row ">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-dark">Dark Outline</button>
                    <button class="btn btn-light">Light Outline</button>
                </div>
            </section>
            <section class="background-offwhite">
                <h3>Examples of other variants of button</h3>
                <div class="section-description">
                    We have some secondary kinds of button like link, icon button and floating action button.
                </div>
                <div class="container-row ">
                    <a class="link-btn" href="#">Link</a>
                    <div class="btn-icon"><i class="fas fa-trash"></i> Delete</div>
                    <div class="btn-topup"><i class="fas fa-arrow-alt-circle-up"></i></div>
                </div>

            </section>
        </div>


    </main>

</body>

</html>