.alert {
    margin: 1rem 1rem;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 3px rgb(168 163 163);
    font-size : 1.1rem ;
    font-weight: 700;
}
.alert-success{
    color : var(--success-dark);
    background-color : var(--success-light);
}
.alert-primary{
    color : var(--info-dark);
    background-color : var(--info-light);
}
.alert-warning{
    color : var(--warning-dark);
    background-color : var(--warning-light);
}
.alert-error{
    color : var(--danger-dark);
    background-color : var(--danger-light);
}
.alert-dark{
    color : var(--primary-bg);
    background-color : var(--primary-color-darker);
}
.alert-light{
    color : var(--dark-color);
    background-color : var(--primary-color);
}
.alert-light a{
    color : var(--primary-bg);
    font-weight: 700;
}
.alert-light a:hover{
    color : var(--secondary-color);
}