@import url('/src/components/utils.css');

.alert {
    font-size: 2.0rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 1rem;
    width : 100% ;
}

.primary-alert {
    background-color: var(--ca-primary-color-lighter);
    color: var(--white-color);
}

.successfull-alert {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.danger-alert {
    background-color: var(--danger-bg);
    color: var(--danger-text);
}

.warning-alert {
    background-color: var(--warning-bg);
    color: var(--warning-text);
}

.fas{
    margin-right : 5px;
}
