@import url('/src/components/utils.css');

.container-avatar{
    justify-content: space-evenly;
}
.avatar-lg{
    width: 23rem;
    height: 23rem;
    /* margin-right: 10px; */
}
.avatar-md{
    width: 18rem;
    height: 18rem;
    /* margin-right: 10px; */
}
.avatar-sm{
    width: 12rem ;
    height: 12rem ;
}
.img-rounded{
    border-radius: 50%;
}

.text-avatar{
    background-color : var(--ca-primary-color-lighter) ;
    display : flex ;
    align-items: center;
    justify-content: center;
    color : var(--white-color) ;
    font-size : 2rem ;
}