.btn{
    padding:1rem 4rem;
    border: none;
    border-radius : 2rem;
}
.btn-primary-solid{
    color: var(--primary-bg);
    background-color: var(--primary-color); 
}
.btn-primary-solid:hover{
    color: var(--primary-bg);
    background-color: var(--secondary-color);
}
.btn-primary-outline{
    color : var(--primary-color);
    background-color: var(--primary-bg);
    border: 2px solid var(--primary-color)
}
.btn-primary-outline:hover{
    background-color : var(--secondary-color);
    color : var(--primary-bg);
}
.btn-icon{

}
.btn-secondary{

}
.btn-primary-float{

}
.btn-secondary-float{

}
