.container{
  padding : 1rem 2rem;
}

@media only screen and (max-width: 820px) {
  .container {
      padding: 1rem 1rem;
  }
}

.clickable{
  cursor : pointer
}
.list-inline{
  display : inline;
}
.btn-float{
  position : fixed ;
    bottom : 1rem ;
    right : 1rem ;
}


/************************ Component Container Styling ************************/

.component-description, .component-example {
  margin: 2rem 0;
}

.component-container-column {
  margin: 2rem 0;
  padding: 1rem;
  display:flex;
  flex-direction:column;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 2px 5px var(--secondary-color);
  gap:1rem;
}

.component-container-row {
  margin: 2rem 0;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  gap:1.2rem;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 2px 5px var(--secondary-color);
}
.round-image-container {
  width: 15rem;
  height: 15rem;
}
.vertical-card-container {
  gap: 0.5rem;
}

.code-snippet {
  margin: 3rem 0;
}
/************************ Vertical Margin ************************/
.gutter-vt-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.gutter-vt-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.gutter-vt-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.gutter-vt-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.gutter-vt-xl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.gutter-vt-xxl {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.gutter-vt-xxxl {
  margin-top: 5rem;
  margin-bottom: 5rem;
}



/************************ Horizontal Margin ************************/
.gutter-hz-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.gutter-hz-sm {
  margin-left: 1rem;
  margin-right: 1rem;
}
.gutter-hz-md {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.gutter-hz-lg {
  margin-left: 2rem;
  margin-right: 2rem;
}
.gutter-hz-xl {
  margin-left: 3rem;
  margin-right: 3rem;
}
.gutter-hz-xxl {
  margin-left: 4rem;
  margin-right: 4rem;
}
.gutter-hz-xxxl {
  margin-left: 5rem;
  margin-right: 5rem;
}
.gutter-left-auto{
  margin-left : auto;
}
.gutter-right-auto{
  margin-right : auto;
}
.gutter-lr-auto{
  margin-left : auto;
  margin-right: auto;
}

/************************ Vertical Padding ************************/
.padder-vt-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.padder-vt-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padder-vt-md {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.padder-vt-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padder-vt-xl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.padder-vt-xxl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.padder-vt-xxxl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


/************************ Horizontal Padding ************************/
.padder-hz-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.padder-hz-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}
.padder-hz-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.padder-hz-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padder-hz-xl {
  padding-left: 3rem;
  padding-right: 3rem;
}
.padder-hz-xxl {
  padding-left: 4rem;
  padding-right: 4rem;
}
.padder-hz-xxxl {
  padding-left: 5rem;
  padding-right: 5rem;
}


/************************ gap ************************/
.gap-none {
  gap: 0;
}
.gap-xs {
  gap: 0.5rem;
}
.gap-sm {
  gap:1rem;
}
.gap-md {
  gap:1.5rem;
}
.gap-lg {
  gap:2rem;
}
.gap-xl {
  gap: 3rem;
}
.gap-xxl {
  gap:4rem;
}
.gap-xxxl {
  gap:5rem;
}
.gap-xxxxl{
  gap:10rem;
}


/********************************** border sizes **********************************/
.border-circular {
  border-radius: 50%;
}
.border-pill {
  border-radius: 40px;
}

.border-1px {
  border: 1px solid;
}
.border-2px {
  border: 2px solid;
}
.border-3px {
  border: 3px solid;
}
.border-4px {
  border: 4px solid;
}
.border-5px {
  border: 5px solid;
}
.border-6px {
  border: 6px solid;
}

/***************************** box shadow *****************************/
.shadow-dark {
  box-shadow: 0 3px 15px 0 var(--shadow-dark);
}
.shadow-light {
  box-shadow: 0 3px 15px 0 var(--shadow-light);
}


/***************************** flex *****************************/
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}


/********************************** positioning *******************************/
.fixed-top {
  position: fixed;
  top: 0;
  left:0;
}
.pos-sticky{
  position : sticky;
  /* position: -webkit-sticky; */
  top: 0 ;
}