.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color : white;
}
.contact-form > *{
    line-height: 2.5rem ;
}
.login-form div input{
    line-height: 2.5rem ;
}
.form-field {
    border: 1px solid var(--primary-color-darker);
    border-radius: 5px;
    width: 99%;
    font-size: 1rem;
    padding-left : 0.5rem ;
}

.form-field:focus {
    outline-color: var(--secondary-color);
}

.contact-form, .login-form {
    border: 2px solid var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(146, 140, 140, 0.5);
}

.form-error-message {
    color: var(--bb-danger-light-color);
    font-size: 0.8rem;
}

#email-error {
    display: none;
}

#password-error {
    display: none;
}