.snackbar{
    width: 20rem;
    padding: 0.5em;
    border-radius : 10px ;
    color: var(--text-color);
    margin-bottom: 0.5em;
    display : none;
}
.snackbar i{
    color: var(--text-color);
    cursor: pointer;
}
.primary-snackbar{
    position: fixed;
    bottom: 0rem;
    left: 1rem;
    background-color: var(--danger-dark);
    transition: 0.3s all;
}
/* .active-snackbar{
    bottom: 1rem; */
/* } */