* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


  :root{
      --ca-primary-color : #762D8B ;
      --ca-primary-color-lighter : #A846C3 ;
      --ca-secondary-color : #65B891 ;
      --ca-primary-text : #100c08 ;
      --ca-secondary-text : #35383f ;
      --ca-light-bg : #ECECEC ;
      --light-bg : #F5F5F5;
      --border-color : #979292 ;
      --white-color : white ;
      --alert-primary-text: #084298;
      --alert-primary-bg: #cfe2ff;
      --success-text: #0f5132;
      --success-bg: #b9d3c7;
      --danger-text: #ff0000 ;
      --danger-bg: #db6c75;
      --warning-text: #664d03;
      --warning-bg: #f0e1b3;
      --online-color: #1b7052;
      --offline-color: #dc3545;

      --status-online : #008000 ;
      --status-offline : #D22B2B ;
      --status-away : #ffff31;
      
  }