@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');  /* font */
@import url('/src/components/design-guide.css');

  
  a{
      text-decoration : none ;
      cursor: pointer;
  }
  a:hover{
      color : var(--ca-secondary-color) ;
  }


  /* text size  */

.text-size-sm{
    font-family: 'Montserrat', sans-serif;
    font-size:0.5rem;
}
.text-size-md{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.text-size-lg{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
}

/* margin */
.margin-left-sm{
    margin-left : 1rem ;
}
.margin-left-md{
    margin-left: 1.5rem;
}
.margin-left-lg{
    margin-left : 2.5rem ;
}
