@import url('/src/components/typography.css');
@import url('/src/components/design-guide.css');
@import url('/src/components/button/button.css');
@import url('/src/components/image/image.css');

/* Header starts */

header{
  grid-area : header ;
  position : sticky ;
  top:0;
  z-index : 1 ;
}
.header-container{
  display: flex ;
  flex-direction: row ;
  flex-wrap : wrap ;
  align-items : center ;
  border-bottom: 2px solid var(--border-color);
  padding : 2.5rem ;
  background-color : var(--light-bg)
}
.heading-header{
  color: var(--ca-primary-color);
  font-family: 'Montserrat', sans-serif;
  flex-grow: 1 ;
}
.heading-header h1{
  font-size : 3rem ;
}
.header-links{
  display: flex;
  gap: 1.5rem ;
  font-size : 2.2rem ;
  font-family: 'Montserrat', sans-serif;
  margin-right : 2rem ;
}
.link-primary{
color : var(--ca-secondary-color);
cursor: pointer;
}
.link-primary:hover{
  color : var(--ca-primary-color)
}
/*header ends*/



/* SideBar Starts */
aside {
  /* position : sticky ; */
  height: 90vh;
  font-size : 2.5rem ;
  padding : 6rem 2rem 0 2rem ;
  font-family: 'Montserrat', sans-serif;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  overflow:auto;
  background-color: var(--light-bg);
}
aside h3{
  color : var(--ca-primary-color-lighter)
}
aside a {
  color: var(--ca-secondary-color);
  text-align: center;
  font-size:2.2rem;
  padding: 0.8rem;
}
aside a:hover {
  color: var(--ca-primary-color);
}
.active-tab {
  cursor: pointer;
  text-decoration: underline solid var(--ca-primary-color);
  text-underline-position: under;
}
/*SideBar Ends*/

/* main Starts */
main{
  grid-area: main;
}
.center{
  text-align : center ;
} 
.padding-md{
  padding-top : 3rem ;
}
.main-container{
  height :85vh ;
  padding-left : 3rem;
}
.main-container h1{
  font-size : 4.1rem ;
  padding-bottom : 1rem ;
  font-family: 'Montserrat', sans-serif;
}
.main-container .headline {
  padding-bottom : 3rem ; 
}
.main-container .description{
font-size : 2.0rem ;
font-family: 'Montserrat', sans-serif;
color : var(--ca-secondary-text);
}
.background-white{
  padding : 1rem ;
}
.background-offwhite{
  background-color : var(--light-bg);
  padding : 1rem ;
  border-radius : 1rem ;
}
section h3{
  font-size: 2.2rem ;
  font-family: 'Montserrat', sans-serif;
}
.section-description{
  font-size : 1.8rem ;
  font-family: 'Montserrat', sans-serif;
  color : var(--ca-secondary-text);
}
.highlighted{
  color : var(--ca-primary-color);
  font-style: italic;
}

.container-row{
  padding: 2rem;
  margin: 3rem;
  max-width: 100%;
  border : 2px solid var(--border-color);
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items : center;
}

.container-column{
  padding: 2rem;
  margin: 3rem;
  max-width: 100%;
  border : 2px solid var(--border-color);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;


}
/*Main Ends*/


/* Body */
body {
  /* position: relative; */
  height: 100vh;
  max-width: 100%;

  display: grid;
  grid-template-columns: auto auto 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header header"
    "aside  aside  main   main   main   main"
    "aside  aside  main   main   main   main"
    "aside  aside  main   main   main   main"
    "aside  aside  main   main   main   main"
    "aside  aside  main   main   main   main"
    ;
}

/*Body Ends*/