<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/avatar/avatar.css">
    <title>Cali-Aesthetics UI</title>
</head>
<body>
    <!------------------------ Header ----------------------------------->
        <header>
            <div class="header-container">
                <div class="heading-header">
                <h1> Cali-Aesthetics</h1>
                </div>
                <div class="header-links">
                <a class="link-primary">Home</a>
                <a class="link-primary">Docs</a>
                </div>
                </div>
        
            </div>
          </header>









    <!-- ------------ component : avatar ---------------- -->
    <section>
    <div class="component-description">
        <h2>Avatar</h2>
    </div>

    <!-- 3 sizes for avatar -->

    </section>

    
</body>
</html>