<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/avatar/avatar.css">
    <title>Cali-Aesthetics UI</title>
</head>
<body>
    <!-- ------------ component : avatar ---------------- -->
    <section>
    <div class="component-description">
        <h2>Avatar</h2>
    </div>

    <!-- 3 sizes for avatar -->
    
    </section>

    
</body>
</html>