@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --ca-primary-color : #762D8B ;
    --ca-secondary-color : #65B891 ;
    --light-bg : #F5F5F5;
    
}
*{
    margin : 0 ;
    padding : 0 ;
}

/* Header */
.heading-header{
    color: var(--ca-primary-color);
    font-family: 'Montserrat', sans-serif;
}
.header-container{
    display: flex ;
    flex-direction: row;
    flex-wrap : wrap ;
    align-items : center ;
    border-bottom: 2px solid #979292;
    padding : 2rem ;
    background-color : var(--light-bg)
}
 .heading-header{
    flex-grow: 1 ;
    
}
.header-links{
    display: flex;
    flex-direction: row;
    gap: 1rem ;
    font-size : 1.2rem ;
    margin-right : 2rem ;
}
.link-primary{
 color : var(--ca-secondary-color);
 cursor: pointer;
}


.link-primary:hover{
    color : var(--ca-primary-color)
}


/* Side Bar */

