@import url('/src/components/utils.css');
.container-row{
    max-width : 50% ;
}
.img-responsive{
    width : 100% ;
    height : auto ;
}
.img-round{
    border-radius : 50% ;
    height : 25% ;
    width : 25%;
    
}