<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/badge/badge.css">
    <title>Cali-Aesthetics UI</title>
    <script src="https://kit.fontawesome.com/cb91afed1c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!------------------------ Header ----------------------------------->
    <header>
        <div class="header-container">
            <div class="heading-header">
                <h1> Cali-Aesthetics</h1>
            </div>
            <div class="header-links">
                <a class="link-primary">Home</a>
                <a class="link-primary">Docs</a>
            </div>
        </div>
    </header>


    <!-------------------------Side Bar ----------------------------->
    <aside>
        <h3>Components</h3>
        <a href="/src/components/avatar/avatar.html">Avatar</a>
        <a href="/src/components/alert/alert.html">Alert</a>
        <a href="/src/components/badge/badge.html">Badge</a>
        <a href="/src/components/button/button.html">Button</a>
        <a class="active-tab" href="#">Images</a>
        <a href="#">Card</a>
        <a href="#">Input</a>
        <a href="#">Form</a>
        <a href="#">Snackbar</a>
    </aside>



    <main>

        <!-- ------------ component : image ---------------- -->

        
    </main>

</body>

</html>